In [1]:
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
import numpy as np

In [2]:
df= pd.read_csv('./data.csv')

In [3]:
df

,score,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,Q33,Q34,Q35,Q36,Q37,Q38,Q39,Q40,gender,age
0,18,2,2,2,2,1,2,1,2,2,...,1,1,1,2,2,2,1,2,1,50
1,6,2,2,2,1,2,2,1,2,1,...,2,2,1,2,2,2,2,1,1,40
2,27,1,2,2,1,2,1,2,1,2,...,1,1,2,1,1,2,1,2,1,28
3,29,1,1,2,2,2,1,2,1,1,...,1,1,2,1,2,2,1,1,1,37
4,6,1,2,1,1,1,2,1,2,1,...,2,2,1,2,2,2,0,1,1,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11238,1,2,2,2,1,1,2,1,2,1,...,2,2,1,2,2,2,2,1,1,24
11239,10,2,2,1,1,1,2,1,1,1,...,2,2,1,2,1,2,2,1,1,39
11240,6,1,2,2,1,1,2,1,2,1,...,2,2,1,2,2,2,2,1,2,33
11241,12,2,2,1,1,1,1,1,1,1,...,1,1,2,2,2,2,2,1,1,24
11242,18,1,2,1,1,1,1,2,2,1,...,1,2,2,1,2,2,1,1,1,36

In [4]:
q_cols=['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10',
       'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20',
       'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27', 'Q28', 'Q29', 'Q30',
       'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40']
one=0
two=0
for x in q_cols:
    one+=df[x].value_counts()[1]
    two+=df[x].value_counts()[2]

In [5]:
for x,y in enumerate(df["age"]):
    if y>90:
        print(x,y)

1271 366
8062 148
8268 117
8355 509
9153 190
9227 100

In [6]:
index=[]
for x,y in enumerate(df["age"]):
    if y<14:
        print(x,y)
        index.append(x)

7583 13
8120 13
8160 12
8302 13
8372 13
8402 13
8792 13
8817 12
8915 13
9000 13
9264 13
9300 13
9420 13
9452 11
9472 13
9546 13
9724 13
9759 13
9813 0
9840 13
9904 0
9923 0
9928 13
9952 13
10002 0
10117 13
10136 13
10145 0
10162 6
10220 0
10259 13
10296 0
10389 13
10413 0
10436 0
10442 13
10589 0
10622 13
10855 10
10867 13
10928 0
11027 0
11066 13
11183 13
11185 2

In [11]:
df.to_csv('data2.csv')

In [7]:
df.drop([1271,8062,8268,8355,9153,9227],axis=0,inplace=True)

In [8]:
df.drop(index,axis=0,inplace=True)

In [9]:
X=df.drop("score",axis=1)
y=df["score"]

In [10]:
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [16]:
from catboost import CatBoostRegressor
from sklearn.metrics import r2_score

In [17]:
cbr=CatBoostRegressor(random_state=101,learning_rate= 0.2,max_depth= 8,n_estimators= 20,subsample= 0.3)
cbr.fit(X_train,y_train)


y_pred=cbr.predict(X_test)
y_pred2=cbr.predict(X_train)
cbr_score=r2_score(y_test,y_pred)

0:	learn: 7.2389585	total: 2.02ms	remaining: 38.3ms
1:	learn: 6.1615487	total: 3.89ms	remaining: 35ms
2:	learn: 5.2690337	total: 6.14ms	remaining: 34.8ms
3:	learn: 4.5338084	total: 8.14ms	remaining: 32.6ms
4:	learn: 3.8993172	total: 10.1ms	remaining: 30.4ms
5:	learn: 3.3681947	total: 12.3ms	remaining: 28.6ms
6:	learn: 2.9228752	total: 14.1ms	remaining: 26.2ms
7:	learn: 2.5454246	total: 15.9ms	remaining: 23.8ms
8:	learn: 2.2068547	total: 17.6ms	remaining: 21.6ms
9:	learn: 1.9355330	total: 19.3ms	remaining: 19.3ms
10:	learn: 1.6913548	total: 21.1ms	remaining: 17.3ms
11:	learn: 1.4889254	total: 23ms	remaining: 15.3ms
12:	learn: 1.3204264	total: 24.9ms	remaining: 13.4ms
13:	learn: 1.1811920	total: 26.8ms	remaining: 11.5ms
14:	learn: 1.0608440	total: 28.6ms	remaining: 9.54ms
15:	learn: 0.9571140	total: 30.4ms	remaining: 7.59ms
16:	learn: 0.8706170	total: 32.1ms	remaining: 5.67ms
17:	learn: 0.8012384	total: 33.9ms	remaining: 3.77ms
18:	learn: 0.7364025	total: 35.7ms	remaining: 1.88ms
19:	learn: 0.6879864	total: 37.8ms	remaining: 0us

In [18]:
print("Train: ",r2_score(y_train,y_pred2))
print("Test: ",r2_score(y_test,y_pred))

Train:  0.9934268619128757
Test:  0.9909506012492938

In [24]:
X_train.iloc[0]

Q1         2
Q2         1
Q3         2
Q4         1
Q5         2
Q6         2
Q7         1
Q8         1
Q9         1
Q10        1
Q11        2
Q12        1
Q13        2
Q14        2
Q15        1
Q16        2
Q17        2
Q18        2
Q19        1
Q20        1
Q21        2
Q22        2
Q23        1
Q24        2
Q25        2
Q26        1
Q27        2
Q28        1
Q29        2
Q30        2
Q31        2
Q32        1
Q33        2
Q34        2
Q35        1
Q36        2
Q37        2
Q38        2
Q39        1
Q40        1
gender     1
age       31
Name: 476, dtype: int64

In [36]:
sample = [2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,20]

In [37]:
len(sample)

42

In [20]:
cbr.predict(X_test)

15.283234814737119

In [38]:
cbr.predict(sample)

15.925481450967268