In [1]:
from urllib.request import urlopen
import bs4
import datetime as dt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#날짜 정보 date형식으로
def date_format(d):
    d = str(d).replace('-', '.')
    yyyy = int(d.split('.')[0])
    mm = int(d.split('.')[1])
    dd = int(d.split('.')[2])
    this_date = dt.date(yyyy, mm, dd)
    
    return this_date

In [3]:
def historical_index_naver(index_cd, start_date='', end_date='', page_n=1, last_page=0):
    global close, date, market, high, low, volume
    if start_date:   # start_date가 있으면
        start_date = date_format(start_date)   # date 포맷으로 변환
    else:    # 없으면
        start_date = dt.date.today()   # 오늘 날짜를 지정
    if end_date:   
        end_date = date_format(end_date)   
    else:   
        end_date = dt.date.today()  
        
        
    naver_index = 'https://finance.naver.com/item/sise_day.nhn?code=' + index_cd + '&page=' + str(page_n)
    
    source = urlopen(naver_index).read()   # 지정한 페이지에서 코드 읽기
    source = bs4.BeautifulSoup(source, 'lxml')   # 뷰티풀 스프로 태그별로 코드 분류
    
    dates = source.find_all('span', class_ = "tah p10 gray03")  # 날짜 수집   
    prices = source.find_all('td', class_='num')  #  지수 수집
    
    for n in range(len(dates)):
    
        if dates[n].text.split('.')[0].isdigit():
            
            # 날짜 처리
            this_date = dates[n].text
            this_date= date_format(this_date)
            
            if this_date <= end_date and this_date >= start_date: 
                date = np.append(date, this_date)
            # start_date와 end_date 사이에서 데이터 저장
                # 종가 처리
                this_close = prices[n*6].text   # prices 중 종가지수인 0,4,8,...번째 데이터 추출
                this_close = this_close.replace(',', '')
                this_close = int(this_close)
                
                close = np.append(close,this_close)
                # 시가 처리
                this_market = prices[n*6+2].text
                this_market = this_market.replace(',', '')
                this_market = int(this_market)
                
                market = np.append(market, this_market)
                
                # 고가 처리
                this_high = prices[n*6+3].text   # prices 중 종가지수인 0,4,8,...번째 데이터 추출
                this_high  = this_high .replace(',', '')
                this_high  = int(this_high )
                
                high = np.append(high,this_high)
                
                #저가 처리
                this_low = prices[n*6+4].text   # prices 중 종가지수인 0,4,8,...번째 데이터 추출
                this_low = this_low.replace(',', '')
                this_low= int(this_low)
                
                low = np.append(low, this_low)                
                
                #거래량 처리
                this_volume = prices[n*6+5].text   # prices 중 종가지수인 0,4,8,...번째 데이터 추출
                this_volume = this_volume.replace(',', '')
                this_volume= int(this_volume)
                
                volume = np.append(volume, this_volume)                

                
                
            elif this_date < start_date:   
            # start_date 이전이면 함수 종료
                return              
            
    # 페이지 네비게이션
    if last_page == 0:
        last_page = source.find('td', class_='pgRR').find('a')['href']
        # 마지막페이지 주소 추출
        last_page = last_page.split('&')[1]   
        last_page = last_page.split('=')[1]   # = 뒤의 페이지번호만 추출
        last_page = int(last_page)   # 숫자형 변수로 변환
        
    # 다음 페이지 호출
    if page_n < last_page:   
        page_n = page_n + 1   
        historical_index_naver(index_cd, start_date, end_date, page_n, last_page)   
    
 
    return

In [4]:
#삼성전자
date = np.array([])
close = np.array([])
market = np.array([])
low = np.array([])
high= np.array([])
volume = np.array([])
index_cd = '005930'
historical_index_naver(index_cd, '1996-6-25', '1998-6-30', page_n = 545)

In [5]:
#SK하이닉스
date = np.array([])
close = np.array([])
market = np.array([])
low = np.array([])
high= np.array([])
volume = np.array([])
index_cd = '000660'
historical_index_naver(index_cd, '2018-7-1', '2020-7-1', page_n = 1)

In [6]:
#삼성바이오
date = np.array([])
close = np.array([])
market = np.array([])
low = np.array([])
high= np.array([])
volume = np.array([])
index_cd = '207940'
historical_index_naver(index_cd, '2018-7-1', '2020-7-1', page_n = 1)

In [19]:
#셀트리온 068270
date = np.array([])
close = np.array([])
market = np.array([])
low = np.array([])
high= np.array([])
volume = np.array([])
index_cd = '068270'
historical_index_naver(index_cd, '2018-7-1', '2020-7-1', page_n = 1)

In [33]:
#네이버 035420
date = np.array([])
close = np.array([])
market = np.array([])
low = np.array([])
high= np.array([])
volume = np.array([])
index_cd = '035420'
historical_index_naver(index_cd, '2018-7-1', '2020-7-1', page_n = 1)

In [46]:
#삼전우 005935
date = np.array([])
close = np.array([])
market = np.array([])
low = np.array([])
high= np.array([])
volume = np.array([])
index_cd = '005935'
historical_index_naver(index_cd, '2018-7-1', '2020-7-1', page_n = 1)

In [60]:
#LG 화학 051910
date = np.array([])
close = np.array([])
market = np.array([])
low = np.array([])
high= np.array([])
volume = np.array([])
index_cd = '051910'
historical_index_naver(index_cd, '2018-7-1', '2020-7-1', page_n = 1)

In [73]:
#삼성 SDI 006400
date = np.array([])
close = np.array([])
market = np.array([])
low = np.array([])
high= np.array([])
volume = np.array([])
index_cd = '006400'
historical_index_naver(index_cd, '2018-7-1', '2020-7-1', page_n = 1)

In [87]:
#카카오 035720
date = np.array([])
close = np.array([])
market = np.array([])
low = np.array([])
high= np.array([])
volume = np.array([])
index_cd = '035720'
historical_index_naver(index_cd, '2018-7-1', '2020-7-1', page_n = 1)

In [102]:
#삼성물산 028260
date = np.array([])
close = np.array([])
market = np.array([])
low = np.array([])
high= np.array([])
volume = np.array([])
index_cd = '028260'
historical_index_naver(index_cd, '2018-7-1', '2020-7-1', page_n = 1)

In [103]:
NaverFinance = pd.DataFrame({'Date': date, 'Close':close, 'Market': market, 
                             'High': high, 'Low': low, 'Volume': volume})

NaverFinance.tail()

           Date     Close    Market      High       Low    Volume
488  2018-07-06  116000.0  113500.0  117000.0  113500.0  295440.0
489  2018-07-05  113500.0  113000.0  114500.0  112500.0  125785.0
490  2018-07-04  113500.0  112500.0  115500.0  112500.0  241169.0
491  2018-07-03  112500.0  116000.0  116000.0  112000.0  296854.0
492  2018-07-02  115000.0  117000.0  117500.0  115000.0  247191.0

In [104]:
date = np.array([])
close = np.array([])
market = np.array([])
low = np.array([])
high= np.array([])
volume = np.array([])
historical_index_naver(index_cd, '2016-7-1', '2018-6-30', page_n = 50)

In [105]:
NaverFinance2018 = pd.DataFrame({'Date': date, 'Close':close, 'Market': market, 
                             'High': high, 'Low': low, 'Volume': volume})

NaverFinance2018.tail()

           Date     Close    Market      High       Low    Volume
484  2016-07-07  128000.0  125000.0  128500.0  125000.0  484666.0
485  2016-07-06  124000.0  127000.0  127000.0  123000.0  390190.0
486  2016-07-05  127000.0  123000.0  127500.0  123000.0  634265.0
487  2016-07-04  123500.0  123500.0  125000.0  122000.0  320457.0
488  2016-07-01  123000.0  121500.0  124000.0  121000.0  467031.0

In [106]:
date = np.array([])
close = np.array([])
market = np.array([])
low = np.array([])
high= np.array([])
volume = np.array([])
historical_index_naver(index_cd, '2013-7-1', '2016-6-30', page_n = 99)

In [107]:
NaverFinance2016 = pd.DataFrame({'Date': date, 'Close':close, 'Market': market, 
                             'High': high, 'Low': low, 'Volume': volume})

NaverFinance2016.tail()

           Date     Close    Market      High       Low      Volume
372  2014-12-24  133000.0  135500.0  139000.0  132000.0   1403337.0
373  2014-12-23  135000.0  132000.0  137500.0  127000.0   2873094.0
374  2014-12-22  134500.0  135000.0  145500.0  130500.0   4401710.0
375  2014-12-19  129500.0  118000.0  129500.0  117500.0   4551888.0
376  2014-12-18  113000.0  106000.0  116000.0   99200.0  12845103.0

In [108]:
date = np.array([])
close = np.array([])
market = np.array([])
low = np.array([])
high= np.array([])
volume = np.array([])
historical_index_naver(index_cd, '2010-7-1', '2013-6-30', page_n = 173)

AttributeError: 'NoneType' object has no attribute 'find'

In [ ]:
NaverFinance2013 = pd.DataFrame({'Date': date, 'Close':close, 'Market': market, 
                             'High': high, 'Low': low, 'Volume': volume})

NaverFinance2013.tail()

In [111]:
date = np.array([])
close = np.array([])
market = np.array([])
low = np.array([])
high= np.array([])
volume = np.array([])
historical_index_naver(index_cd, '2009-1-1', '2010-6-30', page_n = 247)

AttributeError: 'NoneType' object has no attribute 'find'

In [ ]:
NaverFinance2010 = pd.DataFrame({'Date': date, 'Close':close, 'Market': market, 
                             'High': high, 'Low': low, 'Volume': volume})

NaverFinance2010.tail()

In [99]:
frames = [NaverFinance, NaverFinance2018, NaverFinance2016, NaverFinance2013,NaverFinance2010]
SCT = pd.concat(frames)

In [113]:
SCT.to_csv('SCT.csv', index = False)

In [112]:
frames = [NaverFinance, NaverFinance2018, NaverFinance2016]
SCT = pd.concat(frames)